# ignore the wandb directory
wandb/
# ignore .ipynb_checkpoints directories
.ipynb_checkpoints/
*ipynb_checkpoints/
# ignore bsc environment folder
bsc/
# ignore all .mp4 files
*.mp4
# ignore all .jpg files
*.jpg

# ignore Videos folder
Videos/
# ignore wandb API key file
*wandb_key.txt

# ignore Job_script_logs folder
Job_scripts_logs/