# ignore the wandb directory
wandb/
# ignore the __pychache__ directory
__pychache__
# ignore .ipynb_checkpoints directories
.ipynb_checkpoints/
*ipynb_checkpoints/
# ignore bsc environment folder
bsc/
# ignore all .mp4 files - video files usually
*.mp4
# ignore all .jpg files - image files usually
*.jpg

# ignore Videos and Images folder
Videos/
Images/

# # ignore trained policies params folder
# trained_policy_params/

# ignore wandb API key file
*wandb_key.txt

# ignore Job_script_logs folder
Job_scripts_logs/

